/* courses list window-size-friendly */
@media (max-width: 830px) {
    #reviews-list > .card > .card-body > .card {
        display: inline-block;
        width: 100%
    }
}

textarea {
    height: auto !important;
}
